.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.buttons__button{
    width: 8rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 1px 2px rgb(85, 85, 85);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons__button:hover{
    box-shadow: -1px -2px rgb(85, 85, 85);
}

.buttons__button,
.buttons__button--primary {
    background-color: #8819d3;
}

.buttons__button--danger {
    background-color: #C32BAD;
}

.buttons__button--success {
    background-color: #2D46B9;
}