.header{
    background-color: #222222;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.header-perfil{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
}

.header-perfil img {
    width: 4rem;
    height: 3.5rem;
    border: 0.2rem solid black;
    border-radius: 50%;
}

.header-perfil h1 {
    font-size: 1rem;
    padding-left: 0.5rem;
}